<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902184476570-ga02kv9i8i2c2pnb0sb819rgr58mapt7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902184476570-ga02kv9i8i2c2pnb0sb819rgr58mapt7</string>
	<key>API_KEY</key>
	<string>AIzaSyDLFm5F_FI2HOO1ZDb02wosbFR25ec9UQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>902184476570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sbsi.tradetest</string>
	<key>PROJECT_ID</key>
	<string>sbsi-348e8</string>
	<key>STORAGE_BUCKET</key>
	<string>sbsi-348e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902184476570:ios:13e8f246d69a99c97fa423</string>
</dict>
</plist>